# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Test/Test/bin/Debug/Test.exe.config
Test/Test/bin/Debug/Test.vshost.exe
Test/Test/bin/Debug/Test.vshost.exe.config
Test/Test/bin/Debug/Test.vshost.exe.manifest
Test/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Test/Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/Delegates/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/Delegates/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/Delegates/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/Delegates/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.pdb
Test/Delegates/obj/Debug/Delegates.csproj.FileListAbsolute.txt
Test/Interfaces/obj/Debug/Interfaces.csproj.FileListAbsolute.txt
Test/Test/bin/Debug/Test.exe
Test/Test/obj/Debug/Test.csprojResolveAssemblyReference.cache
Test/Test/obj/Debug/Test.exe